#impact-title{
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    color: #FFF;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#contact{
    padding: 20px;
    width: 100%;
}

#title{
    width: 8%;
    font-size: 20px;
    border-bottom: 1px solid #009F7F;
}
