<div id="services-page">
  <div id="impact-title" class="text-start">
    <div id="title">
      <span>Serviços</span>
    </div>
  </div>

  <div
    id="body"
    class="d-flex justify-content-center align-items-center flex-column"
  >
    <p>
      Na Anhanguera Corte Laser, oferecemos serviços que unem tecnologia,
      durabilidade e personalização, entregando resultados que atendem às mais
      altas exigências de diferentes setores.
    </p>

    <div id="cards" class="row g-4">
      <div class="col-12 col-md-6 col-lg-2">
        <div id="card">
          <img src="assets/imagens/image 6.png" class="img-fluid" />
          <div id="card-title"><span>Corte a Laser</span></div>
          <div id="card-body">
            <span
              >Precisão milimétrica e eficiência para projetos industriais e
              criativos.</span
            >
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-2">
        <div id="card">
          <img src="assets/imagens/image-1.png" class="img-fluid" />
          <div id="card-title"><span>Pintura Eletrostática</span></div>
          <div id="card-body">
            <span
              >A pintura eletrostática é um processo de revestimento que usa
              carga elétrica para aderir tinta em superfícies metálicas,
              garantindo acabamento uniforme e durável.</span
            >
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-2">
        <div id="card">
          <img src="assets/imagens/image-2.png" class="img-fluid" />
          <div id="card-title"><span>Calandra</span></div>
          <div id="card-body">
            <span
              >Curvatura perfeita para aplicações industriais e
              decorativas.</span
            >
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-2">
        <div id="card">
          <img src="assets/imagens/image-3.png" class="img-fluid" />
          <div id="card-title"><span>Dobras CNC</span></div>
          <div id="card-body">
            <span
              >Modelagem versátil para criar peças robustas e
              personalizadas.</span
            >
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-2">
        <div id="card">
          <img src="assets/imagens/image.png" class="img-fluid" />
          <div id="card-title"><span>Solda</span></div>
          <div id="card-body">
            <span
              >A soldagem é um processo de fusão que une materiais metálicos,
              garantindo uma conexão forte e contínua.</span
            >
          </div>
        </div>
      </div>
    </div>

    <div id="setores-atendidos" class="mt-5">
      <span id="title">Setores Atendidos</span>
    </div>

    <div id="cards" class="row justify-content-center g-4">
      <div class="col-12 col-md-6 col-lg-2">
        <div id="card">
          <img src="assets/imagens/carro.png" class="img-fluid" />
          <div id="card-title">
            <span>Automobilístico e Ferroviário</span>
          </div>
          <div id="card-body">
            <span
              >Peças metálicas de alta precisão para veículos e
              infraestrutura.</span
            >
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-2">
        <div id="card">
          <img src="assets/imagens/engenharia.png" class="img-fluid" />
          <div id="card-title">
            <span>Construção Civil</span>
          </div>
          <div id="card-body">
            <span
              >Estruturas robustas e acabamentos que garantem
              durabilidade.</span
            >
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-2">
        <div id="card">
          <img src="assets/imagens/farmacia.png" class="img-fluid" />
          <div id="card-title">
            <span>Indústria Médica e Farmacêutica</span>
          </div>
          <div id="card-body">
            <span
              >Componentes delicados e resistentes que atendem às mais altas
              exigências técnicas.</span
            >
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-2">
        <div id="card">
          <img src="assets/imagens/arquitetura.png" class="img-fluid" />
          <div id="card-title">
            <span>Arquitetura e Design de Interiores</span>
          </div>
          <div id="card-body">
            <span
              >Criamos soluções personalizadas, desde peças decorativas até
              estruturas metálicas sob medida, transformando ambientes com
              projetos únicos.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
