<div id="services-page">
  <div id="impact-title">
    <div id="title">
      <span>Serviços</span>
    </div>
  </div>
  <div id="body">
    <p>
      Na Anhanguera Corte Laser, oferecemos serviços que unem tecnologia,
      durabilidade e personalização, entregando resultados que atendem às mais
      altas exigências de diferentes setores.
    </p>
    <div class="row justify-content-center gap-3" id="cards">
      <div class="col-2" id="card">
        <img src="assets/imagens/image 6.png" />
        <div id="card-title"><span>Corte a Laser</span></div>
        <div id="card-body">
          <span
            >Precisão milimétrica e eficiência para projetos industriais e
            criativos.
          </span>
        </div>
      </div>
      <div class="col-2" id="card">
        <img src="assets/imagens/image-1.png" />
        <div id="card-title"><span>Pintura Eletrostática</span></div>
        <div id="card-body">
          <span
            >A pintura eletrostática é um processo de revestimento que usa carga
            elétrica para aderir tinta em superfícies metálicas, garantindo
            acabamento uniforme e durável.
          </span>
        </div>
      </div>
      <div class="col-2" id="card">
        <img src="assets/imagens/image-2.png" />
        <div id="card-title"><span>Calandra</span></div>
        <div id="card-body">
          <span
            >Curvatura perfeita para aplicações industriais e decorativas.
          </span>
        </div>
      </div>
      <div class="col-2" id="card">
        <img src="assets/imagens/image-3.png" />
        <div id="card-title"><span>Dobras CNC</span></div>
        <div id="card-body">
          <span
            >Modelagem versátil para criar peças robustas e personalizadas.
          </span>
        </div>
      </div>
      <div class="col-2" id="card">
        <img src="assets/imagens/image.png" />
        <div id="card-title"><span>Solda</span></div>
        <div id="card-body">
          <span
            >A soldagem é um processo de fusão que une materiais metálicos,
            garantindo uma conexão forte e contínua.
          </span>
        </div>
      </div>
    </div>

    <div id="setores-atendidos" class="mt-5">
      <span id="title">Setores Atendidos</span>
    </div>
    <div class="row justify-content-center gap-3" id="cards">
      <div class="col-2" id="card">
        <img src="assets/imagens/carro.png" />
        <div
          id="card-title"
          style="
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <span>Automobilístico e Ferroviário</span>
        </div>
        <div id="card-body">
          <span
            >Peças metálicas de alta precisão para veículos e infraestrutura.
          </span>
        </div>
      </div>
      <div class="col-2" id="card">
        <img src="assets/imagens/engenharia.png" />
        <div
          id="card-title"
          style="
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <span>Construção Civil</span>
        </div>
        <div id="card-body">
          <span
            >Estruturas robustas e acabamentos que garantem durabilidade.
          </span>
        </div>
      </div>
      <div class="col-2" id="card">
        <img src="assets/imagens/farmacia.png" />
        <div
          id="card-title"
          style="
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <span>Indústria Médica e Farmacêutica</span>
        </div>
        <div id="card-body">
          <span
            >Componentes delicados e resistentes que atendem às mais altas
            exigências técnicas.
          </span>
        </div>
      </div>
      <div class="col-2" id="card">
        <img src="assets/imagens/arquitetura.png" />
        <div
          id="card-title"
          style="
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <span>Arquitetura e Design de Interiores</span>
        </div>
        <div id="card-body">
          <span
            >Criamos soluções personalizadas, desde peças decorativas até
            estruturas metálicas sob medida, transformando ambientes com
            projetos únicos.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
