<div id="quem-somos-page">
  <div id="impact-title">
    <div id="title">
      <span>Quem Somos</span>
    </div>
  </div>
  <div id="quem-somos">
    <span id="title">Nossa História, Nossa Essência</span>
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <span>
          A história da Anhanguera Corte Laser é marcada por resiliência,
          inovação e compromisso com a qualidade. Fundada em 2013 por Lázaro ,
          um experiente profissional com mais de 20 anos na indústria
          metalúrgica, a empresa começou com apenas um colaborador e um sonho:
          oferecer soluções de alta precisão e cuidado no mercado de chapas
          metálicas.
          <br />
          <br />
          Em 2020, diante dos desafios da pandemia, Lázaro passou a gestão para
          seu filho Flávio, que trouxe uma visão renovada ao negócio. Formado em
          Administração pela PUC Campinas e pós-graduado em Gestão de Negócios
          pela UniMetrocamp, Flávio modernizou os processos, expandiu a produção
          e manteve vivo o legado familiar. Hoje, com práticas sustentáveis como
          energia solar e reciclagem de resíduos, a Anhanguera Corte Laser não
          só entrega qualidade, mas também contribui para um futuro melhor.
        </span>
      </div>
      <!-- <div class="col-6 d-flex justify-content-center align-items-center">
        <img src="assets/logo.png" />
      </div> -->
    </div>
  </div>
  <div id="missao">
    <span id="title">Nossa Missão</span>
    <div id="text">
      <span>
        Construir algo único e duradouro para cada cliente, com a solidez do aço
        e o cuidado de quem possui mais de 10 anos de experiência
      </span>
    </div>
  </div>
  <div id="valores">
    <span id="title">Nossos Valores</span>
    <div class="row d-flex justify-content-center align-items-center gap-3">
      <div class="col-2" id="card">
        <div id="card-title">
          <span class="material-icons"> local_florist </span>
          <span>Sustentabilidade</span>
        </div>
        <div id="card-body">
          <span>Compromisso com o meio ambiente em cada etapa.</span>
        </div>
      </div>
      <div class="col-2" id="card">
        <div id="card-title">
          <span class="material-icons"> hotel_class </span>
          <span>Inovação</span>
        </div>
        <div id="card-body">
          <span>Tecnologias avançadas para soluções precisas. </span>
        </div>
      </div>
      <div class="col-2" id="card">
        <div id="card-title">
          <span class="material-icons"> settings </span>
          <span>Qualidade</span>
        </div>
        <div id="card-body">
          <span>Excelência em cada detalhe dos nossos projetos.</span>
        </div>
      </div>
    </div>
  </div>
</div>
