<div id="sustainability-page">
  <div id="impact-title">
    <div id="title">
      <span>Sustentabilidade e Impacto Social</span>
    </div>
  </div>
  <div
    id="content"
    class="d-flex justify-content-center flex-column align-items-center"
  >
    <span id="text">
      Na Anhanguera Corte Laser, sustentabilidade não é apenas uma meta: é um
      compromisso. Nossa produção utiliza energia solar, nossos resíduos
      metálicos são reciclados e apoiamos iniciativas sociais que fazem a
      diferença.
    </span>

    <div class="container my-4">
      <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
        <!-- Energia Renovável -->
        <div class="col">
          <div class="card p-3 text-center" id="card">
            <div class="row align-items-center">
              <div class="col-md-8">
                <span id="title" class="mb-3">Energia Renovável</span>
                <p id="text">
                  Painéis fotovoltaicos alimentam nossa operação, reduzindo a
                  pegada de carbono.
                </p>
              </div>
              <div class="col-md-4 text-center">
                <img
                  src="assets/painel.jpg"
                  class="img-fluid rounded"
                  id="energia-img"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Reciclagem Total de Resíduos -->
        <div class="col">
          <div class="card p-3 text-center" id="card">
            <div class="row align-items-center flex-md-row">
              <div class="col-md-8">
                <span id="title" class="mb-3"
                  >Reciclagem Total de Resíduos</span
                >
                <p id="text">
                  Aproveitamos 100% dos resíduos metálicos, minimizando o
                  impacto ambiental.
                </p>
              </div>
              <div class="col-md-4 text-center">
                <img
                  src="assets/reaproveitamento.jpg"
                  class="img-fluid rounded"
                  id="reaproveitamento-img"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Impacto Social -->
        <div class="col">
          <div class="card p-3 text-center" id="card">
            <div class="row align-items-center">
              <div class="col-md-8">
                <span id="title" class="mb-3">Impacto Social</span>
                <p id="text">
                  Patrocinamos o projeto de carrinho autônomo e elétrico da
                  UniCamp e apoiamos instituições de caridade que promovem
                  inclusão e educação.
                </p>
              </div>
              <div class="col-md-4 text-center">
                <img
                  src="assets/patrocinio.jpg"
                  class="img-fluid rounded"
                  id="impacto-img"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fim da row -->
    </div>
    <!-- Fim da container -->
  </div>
</div>
