#impact-title{
    background-image: url('../../../assets/sustainability.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    & #title{
        width: 50%;
        font-size: 30px;
        border-bottom: 1px solid #009F7F;
    }

    @media (max-width: 768px){
        #title{
            border-bottom: none;
        }
    }
}

#content{
    padding: 20px;
    color: #264E34;
}

#card {
    background-color: #009F7F;
    color: #ffffff;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    & #title {
      font-size: 20px;
    }
}
